body {
    margin-top: 0;
    word-wrap: break-word;
}

* {
    font-family: Menlo, 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 0.9rem;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    display: block;
    position: relative;
    margin-bottom: 3rem;
}

h2 {
    font-weight: bold;
    font-size: 1.1rem;
}

h1::after {
    content: "============";
    position: absolute;
    left: 0;
    bottom: -25px;
}
